::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
}
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  border: transparent;
  border-style: solid;
}
::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
  background: #fff;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb {
  min-height: 28px;
  padding-top: 100;
  background: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 5px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  border-width: 0;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track:active {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}
.scrollbar-hover::-webkit-scrollbar,
.scrollbar-hover::-webkit-scrollbar-button,
.scrollbar-hover::-webkit-scrollbar-track,
.scrollbar-hover::-webkit-scrollbar-thumb {
  visibility: hidden;
}
.scrollbar-hover:hover::-webkit-scrollbar,
.scrollbar-hover:hover::-webkit-scrollbar-button,
.scrollbar-hover:hover::-webkit-scrollbar-track,
.scrollbar-hover:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.hide,
.hidden,
[hidden] {
  display: none !important;
}
.tal {
  text-align: left !important;
}
.tar {
  text-align: right !important;
}
.tac {
  text-align: center !important;
}
.tai {
  text-align: inherit !important;
}
.vat {
  vertical-align: top !important;
}
.vatt {
  vertical-align: text-top !important;
}
.vam {
  vertical-align: middle !important;
}
.vatb {
  vertical-align: text-bottom !important;
}
.vab {
  vertical-align: bottom !important;
}
.vai {
  vertical-align: inherit !important;
}
.lh10 {
  line-height: 10px !important;
  min-height: 10px;
}
.lh15 {
  line-height: 15px !important;
  min-height: 15px;
}
.lh20 {
  line-height: 20px !important;
  min-height: 20px;
}
.lh30 {
  line-height: 30px !important;
  min-height: 30px;
}
.lh40 {
  line-height: 40px !important;
  min-height: 40px;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.bgddd {
  background-color: #DDDDDD !important;
}
.w100 {
  width: 100px !important;
}
body #menu-extend {
  display: none;
}
body .bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-image: -webkit-linear-gradient(bottom, #accbee 0%, #e7f0fd 100%);
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  z-index: -1;
}
body span,
body a,
body i,
body b,
body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body strong,
body li,
body dl,
body dt,
body dd,
body td,
body th,
body label,
body input,
body select,
body option,
body pre,
body footer {
  font-family: 'Helvetica', 'Microsoft YaHei';
}
body span,
body a,
body i,
body b,
body p,
body strong,
body li,
body dl,
body dt,
body dd,
body td,
body th,
body label,
body input {
  font-family: 'Helvetica', 'Microsoft YaHei';
  font-size: 14px;
}
body a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
body pre {
  margin-top: 0px;
  margin-bottom: 0px;
}
body strong {
  font-family: 'Helvetica', 'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
}
body p {
  line-height: 150%;
  font-size: 14px;
}
body p.p-xs {
  font-size: 12px;
}
body p.p-sm {
  font-size: 14px;
}
body p.p-md {
  font-size: 16px;
}
body h1,
body .h1 {
  font-size: 32px;
  line-height: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
}
body h2,
body .h2 {
  font-size: 24px;
  line-height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
}
body h3,
body .h3 {
  font-size: 18px;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}
body h4,
body .h4 {
  font-size: 16px;
  line-height: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}
body h5,
body .h5 {
  font-size: 14px;
  line-height: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
}
body h6,
body .h6 {
  font-size: 12px;
  line-height: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
}
body .btn {
  display: inline-block;
  background-color: #FFF;
  border: 1px solid #DDDDDD;
  color: #333333;
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 12px;
  line-height: 30px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: 0.12s;
  transition: 0.12s;
}
body .btn:hover {
  border-color: #999999;
}
body .btn > i {
  vertical-align: initial;
  margin-right: 8px;
}
body .btn.btn-icon > i {
  margin-right: 0px;
}
body .btn + .btn {
  margin-left: 4px;
}
body .btn.btn-block {
  display: block;
  width: 100%;
}
body .btn.btn-block + .btn-block {
  margin-left: 0px;
  margin-top: 4px;
}
body .btn.btn-xs {
  padding: 0px 10px;
  line-height: 24px;
  font-size: 12px;
}
body .btn.btn-xs.btn-square {
  padding: 0px 3px;
}
body .btn.btn-xs.btn-square > i {
  line-height: 26px;
}
body .btn.btn-sm {
  padding: 0px 10px;
  line-height: 30px;
}
body .btn.btn-sm.btn-square {
  padding: 0px 6px;
}
body .btn.btn-sm.btn-square > i {
  line-height: 32px;
}
body .btn.btn-md {
  padding: 0px 20px;
  line-height: 40px;
  font-size: 14px;
}
body .btn.btn-md.btn-square {
  padding: 0px 10px;
}
body .btn.btn-md.btn-square > i {
  line-height: 40px;
}
body .btn.btn-lg {
  padding: 0px 30px;
  line-height: 50px;
  font-size: 16px;
}
body .btn.btn-lg.btn-square {
  padding: 0px 14px;
}
body .btn.btn-lg.btn-square > i {
  line-height: 50px;
}
body .btn.btn-square > i {
  margin-right: 0px;
}
body .btn.btn-primary {
  background-color: #B01D2D;
  color: #FFF;
  border-color: #B01D2D;
}
body .btn.btn-primary:hover {
  background-color: #8D1724;
  border-color: #8D1724;
}
body .btn.btn-primary.active,
body .btn.btn-primary[active]:not([active='false']) {
  background-color: #D07781;
  border-color: #D07781;
}
body .btn.btn-primary.disabled,
body .btn.btn-primary[disabled]:not([disabled='false']) {
  border-color: #F7E8EA;
  background-color: #F7E8EA;
}
body .btn.btn-default {
  background-color: #FFF;
  color: #333333;
  border-color: #DDDDDD;
}
body .btn.btn-default:hover {
  border-color: #999999;
}
body .btn.btn-default.active,
body .btn.btn-default[active]:not([active='false']) {
  background-color: #F7E8EA;
  border-color: #B01D2D;
  color: #B01D2D;
}
body .btn.btn-default.disabled,
body .btn.btn-default[disabled]:not([disabled='false']) {
  color: #CCCCCC;
  border-color: #DDDDDD;
  background-color: #EEEEEE;
}
body .btn.btn-success {
  background-color: #1DB09F;
  color: #FFF;
  border-color: #1DB09F;
}
body .btn.btn-success:hover {
  background-color: #178D7F;
  border-color: #178D7F;
}
body .btn.btn-success.active,
body .btn.btn-success[active]:not([active='false']) {
  background-color: #77D0C5;
  border-color: #77D0C5;
}
body .btn.btn-success.disabled,
body .btn.btn-success[disabled]:not([disabled='false']) {
  border-color: #D2EFEC;
  background-color: #D2EFEC;
}
body .btn.btn-warning {
  background-color: #FFA726;
  color: #FFF;
  border-color: #FFA726;
}
body .btn.btn-warning:hover {
  background-color: #CC861E;
  border-color: #CC861E;
}
body .btn.btn-warning.active,
body .btn.btn-warning[active]:not([active='false']) {
  background-color: #FFCA7D;
  border-color: #FFCA7D;
}
body .btn.btn-warning.disabled,
body .btn.btn-warning[disabled]:not([disabled='false']) {
  border-color: #FFEDD4;
  background-color: #FFEDD4;
}
body .btn.btn-danger {
  background-color: #F4511E;
  color: #FFF;
  border-color: #F4511E;
}
body .btn.btn-danger:hover {
  background-color: #C34118;
  border-color: #C34118;
}
body .btn.btn-danger.active,
body .btn.btn-danger[active]:not([active='false']) {
  background-color: #F89778;
  border-color: #F89778;
}
body .btn.btn-danger.disabled,
body .btn.btn-danger[disabled]:not([disabled='false']) {
  border-color: #FDDCD2;
  background-color: #FDDCD2;
}
body .btn.btn-link {
  background-color: transparent;
  color: #3498DB;
  border-style: none;
}
body .btn.btn-link:hover {
  text-decoration: underline;
}
body .btn.form-inline {
  margin-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
body .btn.form-inline ~ .btn {
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
}
body .btn.form-inline ~ .btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
body div.form-inline {
  font-size: 0px;
}
body div.form-inline > .btn {
  margin-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
body div.form-inline > .btn + .btn {
  margin-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
body div.form-inline > .btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
body .input {
  width: 100%;
  line-height: 25px;
  border: 1px solid #EEE;
  border-radius: 4px;
}
body .guid {
  letter-spacing: -10px;
}
body .guid > .g1,
body .guid > .g2,
body .guid > .g3,
body .guid > .g4,
body .guid > .g5,
body .guid > .g6,
body .guid > .g7,
body .guid > .g8,
body .guid > .g9,
body .guid > .g10,
body .guid > .g11,
body .guid > .g12,
body .guid > .g13,
body .guid > .g14,
body .guid > .g15,
body .guid > .g16,
body .guid > .g17,
body .guid > .g18,
body .guid > .g19,
body .guid > .g20,
body .guid > .g21,
body .guid > .g22,
body .guid > .g23,
body .guid > .g24 {
  display: inline-block;
  letter-spacing: 0px;
}
body .guid > .g1 + .g1,
body .guid > .g2 + .g1,
body .guid > .g3 + .g1,
body .guid > .g4 + .g1,
body .guid > .g5 + .g1,
body .guid > .g6 + .g1,
body .guid > .g7 + .g1,
body .guid > .g8 + .g1,
body .guid > .g9 + .g1,
body .guid > .g10 + .g1,
body .guid > .g11 + .g1,
body .guid > .g12 + .g1,
body .guid > .g13 + .g1,
body .guid > .g14 + .g1,
body .guid > .g15 + .g1,
body .guid > .g16 + .g1,
body .guid > .g17 + .g1,
body .guid > .g18 + .g1,
body .guid > .g19 + .g1,
body .guid > .g20 + .g1,
body .guid > .g21 + .g1,
body .guid > .g22 + .g1,
body .guid > .g23 + .g1,
body .guid > .g24 + .g1,
body .guid > .g1 + .g2,
body .guid > .g2 + .g2,
body .guid > .g3 + .g2,
body .guid > .g4 + .g2,
body .guid > .g5 + .g2,
body .guid > .g6 + .g2,
body .guid > .g7 + .g2,
body .guid > .g8 + .g2,
body .guid > .g9 + .g2,
body .guid > .g10 + .g2,
body .guid > .g11 + .g2,
body .guid > .g12 + .g2,
body .guid > .g13 + .g2,
body .guid > .g14 + .g2,
body .guid > .g15 + .g2,
body .guid > .g16 + .g2,
body .guid > .g17 + .g2,
body .guid > .g18 + .g2,
body .guid > .g19 + .g2,
body .guid > .g20 + .g2,
body .guid > .g21 + .g2,
body .guid > .g22 + .g2,
body .guid > .g23 + .g2,
body .guid > .g24 + .g2,
body .guid > .g1 + .g3,
body .guid > .g2 + .g3,
body .guid > .g3 + .g3,
body .guid > .g4 + .g3,
body .guid > .g5 + .g3,
body .guid > .g6 + .g3,
body .guid > .g7 + .g3,
body .guid > .g8 + .g3,
body .guid > .g9 + .g3,
body .guid > .g10 + .g3,
body .guid > .g11 + .g3,
body .guid > .g12 + .g3,
body .guid > .g13 + .g3,
body .guid > .g14 + .g3,
body .guid > .g15 + .g3,
body .guid > .g16 + .g3,
body .guid > .g17 + .g3,
body .guid > .g18 + .g3,
body .guid > .g19 + .g3,
body .guid > .g20 + .g3,
body .guid > .g21 + .g3,
body .guid > .g22 + .g3,
body .guid > .g23 + .g3,
body .guid > .g24 + .g3,
body .guid > .g1 + .g4,
body .guid > .g2 + .g4,
body .guid > .g3 + .g4,
body .guid > .g4 + .g4,
body .guid > .g5 + .g4,
body .guid > .g6 + .g4,
body .guid > .g7 + .g4,
body .guid > .g8 + .g4,
body .guid > .g9 + .g4,
body .guid > .g10 + .g4,
body .guid > .g11 + .g4,
body .guid > .g12 + .g4,
body .guid > .g13 + .g4,
body .guid > .g14 + .g4,
body .guid > .g15 + .g4,
body .guid > .g16 + .g4,
body .guid > .g17 + .g4,
body .guid > .g18 + .g4,
body .guid > .g19 + .g4,
body .guid > .g20 + .g4,
body .guid > .g21 + .g4,
body .guid > .g22 + .g4,
body .guid > .g23 + .g4,
body .guid > .g24 + .g4,
body .guid > .g1 + .g5,
body .guid > .g2 + .g5,
body .guid > .g3 + .g5,
body .guid > .g4 + .g5,
body .guid > .g5 + .g5,
body .guid > .g6 + .g5,
body .guid > .g7 + .g5,
body .guid > .g8 + .g5,
body .guid > .g9 + .g5,
body .guid > .g10 + .g5,
body .guid > .g11 + .g5,
body .guid > .g12 + .g5,
body .guid > .g13 + .g5,
body .guid > .g14 + .g5,
body .guid > .g15 + .g5,
body .guid > .g16 + .g5,
body .guid > .g17 + .g5,
body .guid > .g18 + .g5,
body .guid > .g19 + .g5,
body .guid > .g20 + .g5,
body .guid > .g21 + .g5,
body .guid > .g22 + .g5,
body .guid > .g23 + .g5,
body .guid > .g24 + .g5,
body .guid > .g1 + .g6,
body .guid > .g2 + .g6,
body .guid > .g3 + .g6,
body .guid > .g4 + .g6,
body .guid > .g5 + .g6,
body .guid > .g6 + .g6,
body .guid > .g7 + .g6,
body .guid > .g8 + .g6,
body .guid > .g9 + .g6,
body .guid > .g10 + .g6,
body .guid > .g11 + .g6,
body .guid > .g12 + .g6,
body .guid > .g13 + .g6,
body .guid > .g14 + .g6,
body .guid > .g15 + .g6,
body .guid > .g16 + .g6,
body .guid > .g17 + .g6,
body .guid > .g18 + .g6,
body .guid > .g19 + .g6,
body .guid > .g20 + .g6,
body .guid > .g21 + .g6,
body .guid > .g22 + .g6,
body .guid > .g23 + .g6,
body .guid > .g24 + .g6,
body .guid > .g1 + .g7,
body .guid > .g2 + .g7,
body .guid > .g3 + .g7,
body .guid > .g4 + .g7,
body .guid > .g5 + .g7,
body .guid > .g6 + .g7,
body .guid > .g7 + .g7,
body .guid > .g8 + .g7,
body .guid > .g9 + .g7,
body .guid > .g10 + .g7,
body .guid > .g11 + .g7,
body .guid > .g12 + .g7,
body .guid > .g13 + .g7,
body .guid > .g14 + .g7,
body .guid > .g15 + .g7,
body .guid > .g16 + .g7,
body .guid > .g17 + .g7,
body .guid > .g18 + .g7,
body .guid > .g19 + .g7,
body .guid > .g20 + .g7,
body .guid > .g21 + .g7,
body .guid > .g22 + .g7,
body .guid > .g23 + .g7,
body .guid > .g24 + .g7,
body .guid > .g1 + .g8,
body .guid > .g2 + .g8,
body .guid > .g3 + .g8,
body .guid > .g4 + .g8,
body .guid > .g5 + .g8,
body .guid > .g6 + .g8,
body .guid > .g7 + .g8,
body .guid > .g8 + .g8,
body .guid > .g9 + .g8,
body .guid > .g10 + .g8,
body .guid > .g11 + .g8,
body .guid > .g12 + .g8,
body .guid > .g13 + .g8,
body .guid > .g14 + .g8,
body .guid > .g15 + .g8,
body .guid > .g16 + .g8,
body .guid > .g17 + .g8,
body .guid > .g18 + .g8,
body .guid > .g19 + .g8,
body .guid > .g20 + .g8,
body .guid > .g21 + .g8,
body .guid > .g22 + .g8,
body .guid > .g23 + .g8,
body .guid > .g24 + .g8,
body .guid > .g1 + .g9,
body .guid > .g2 + .g9,
body .guid > .g3 + .g9,
body .guid > .g4 + .g9,
body .guid > .g5 + .g9,
body .guid > .g6 + .g9,
body .guid > .g7 + .g9,
body .guid > .g8 + .g9,
body .guid > .g9 + .g9,
body .guid > .g10 + .g9,
body .guid > .g11 + .g9,
body .guid > .g12 + .g9,
body .guid > .g13 + .g9,
body .guid > .g14 + .g9,
body .guid > .g15 + .g9,
body .guid > .g16 + .g9,
body .guid > .g17 + .g9,
body .guid > .g18 + .g9,
body .guid > .g19 + .g9,
body .guid > .g20 + .g9,
body .guid > .g21 + .g9,
body .guid > .g22 + .g9,
body .guid > .g23 + .g9,
body .guid > .g24 + .g9,
body .guid > .g1 + .g10,
body .guid > .g2 + .g10,
body .guid > .g3 + .g10,
body .guid > .g4 + .g10,
body .guid > .g5 + .g10,
body .guid > .g6 + .g10,
body .guid > .g7 + .g10,
body .guid > .g8 + .g10,
body .guid > .g9 + .g10,
body .guid > .g10 + .g10,
body .guid > .g11 + .g10,
body .guid > .g12 + .g10,
body .guid > .g13 + .g10,
body .guid > .g14 + .g10,
body .guid > .g15 + .g10,
body .guid > .g16 + .g10,
body .guid > .g17 + .g10,
body .guid > .g18 + .g10,
body .guid > .g19 + .g10,
body .guid > .g20 + .g10,
body .guid > .g21 + .g10,
body .guid > .g22 + .g10,
body .guid > .g23 + .g10,
body .guid > .g24 + .g10,
body .guid > .g1 + .g11,
body .guid > .g2 + .g11,
body .guid > .g3 + .g11,
body .guid > .g4 + .g11,
body .guid > .g5 + .g11,
body .guid > .g6 + .g11,
body .guid > .g7 + .g11,
body .guid > .g8 + .g11,
body .guid > .g9 + .g11,
body .guid > .g10 + .g11,
body .guid > .g11 + .g11,
body .guid > .g12 + .g11,
body .guid > .g13 + .g11,
body .guid > .g14 + .g11,
body .guid > .g15 + .g11,
body .guid > .g16 + .g11,
body .guid > .g17 + .g11,
body .guid > .g18 + .g11,
body .guid > .g19 + .g11,
body .guid > .g20 + .g11,
body .guid > .g21 + .g11,
body .guid > .g22 + .g11,
body .guid > .g23 + .g11,
body .guid > .g24 + .g11,
body .guid > .g1 + .g12,
body .guid > .g2 + .g12,
body .guid > .g3 + .g12,
body .guid > .g4 + .g12,
body .guid > .g5 + .g12,
body .guid > .g6 + .g12,
body .guid > .g7 + .g12,
body .guid > .g8 + .g12,
body .guid > .g9 + .g12,
body .guid > .g10 + .g12,
body .guid > .g11 + .g12,
body .guid > .g12 + .g12,
body .guid > .g13 + .g12,
body .guid > .g14 + .g12,
body .guid > .g15 + .g12,
body .guid > .g16 + .g12,
body .guid > .g17 + .g12,
body .guid > .g18 + .g12,
body .guid > .g19 + .g12,
body .guid > .g20 + .g12,
body .guid > .g21 + .g12,
body .guid > .g22 + .g12,
body .guid > .g23 + .g12,
body .guid > .g24 + .g12,
body .guid > .g1 + .g13,
body .guid > .g2 + .g13,
body .guid > .g3 + .g13,
body .guid > .g4 + .g13,
body .guid > .g5 + .g13,
body .guid > .g6 + .g13,
body .guid > .g7 + .g13,
body .guid > .g8 + .g13,
body .guid > .g9 + .g13,
body .guid > .g10 + .g13,
body .guid > .g11 + .g13,
body .guid > .g12 + .g13,
body .guid > .g13 + .g13,
body .guid > .g14 + .g13,
body .guid > .g15 + .g13,
body .guid > .g16 + .g13,
body .guid > .g17 + .g13,
body .guid > .g18 + .g13,
body .guid > .g19 + .g13,
body .guid > .g20 + .g13,
body .guid > .g21 + .g13,
body .guid > .g22 + .g13,
body .guid > .g23 + .g13,
body .guid > .g24 + .g13,
body .guid > .g1 + .g14,
body .guid > .g2 + .g14,
body .guid > .g3 + .g14,
body .guid > .g4 + .g14,
body .guid > .g5 + .g14,
body .guid > .g6 + .g14,
body .guid > .g7 + .g14,
body .guid > .g8 + .g14,
body .guid > .g9 + .g14,
body .guid > .g10 + .g14,
body .guid > .g11 + .g14,
body .guid > .g12 + .g14,
body .guid > .g13 + .g14,
body .guid > .g14 + .g14,
body .guid > .g15 + .g14,
body .guid > .g16 + .g14,
body .guid > .g17 + .g14,
body .guid > .g18 + .g14,
body .guid > .g19 + .g14,
body .guid > .g20 + .g14,
body .guid > .g21 + .g14,
body .guid > .g22 + .g14,
body .guid > .g23 + .g14,
body .guid > .g24 + .g14,
body .guid > .g1 + .g15,
body .guid > .g2 + .g15,
body .guid > .g3 + .g15,
body .guid > .g4 + .g15,
body .guid > .g5 + .g15,
body .guid > .g6 + .g15,
body .guid > .g7 + .g15,
body .guid > .g8 + .g15,
body .guid > .g9 + .g15,
body .guid > .g10 + .g15,
body .guid > .g11 + .g15,
body .guid > .g12 + .g15,
body .guid > .g13 + .g15,
body .guid > .g14 + .g15,
body .guid > .g15 + .g15,
body .guid > .g16 + .g15,
body .guid > .g17 + .g15,
body .guid > .g18 + .g15,
body .guid > .g19 + .g15,
body .guid > .g20 + .g15,
body .guid > .g21 + .g15,
body .guid > .g22 + .g15,
body .guid > .g23 + .g15,
body .guid > .g24 + .g15,
body .guid > .g1 + .g16,
body .guid > .g2 + .g16,
body .guid > .g3 + .g16,
body .guid > .g4 + .g16,
body .guid > .g5 + .g16,
body .guid > .g6 + .g16,
body .guid > .g7 + .g16,
body .guid > .g8 + .g16,
body .guid > .g9 + .g16,
body .guid > .g10 + .g16,
body .guid > .g11 + .g16,
body .guid > .g12 + .g16,
body .guid > .g13 + .g16,
body .guid > .g14 + .g16,
body .guid > .g15 + .g16,
body .guid > .g16 + .g16,
body .guid > .g17 + .g16,
body .guid > .g18 + .g16,
body .guid > .g19 + .g16,
body .guid > .g20 + .g16,
body .guid > .g21 + .g16,
body .guid > .g22 + .g16,
body .guid > .g23 + .g16,
body .guid > .g24 + .g16,
body .guid > .g1 + .g17,
body .guid > .g2 + .g17,
body .guid > .g3 + .g17,
body .guid > .g4 + .g17,
body .guid > .g5 + .g17,
body .guid > .g6 + .g17,
body .guid > .g7 + .g17,
body .guid > .g8 + .g17,
body .guid > .g9 + .g17,
body .guid > .g10 + .g17,
body .guid > .g11 + .g17,
body .guid > .g12 + .g17,
body .guid > .g13 + .g17,
body .guid > .g14 + .g17,
body .guid > .g15 + .g17,
body .guid > .g16 + .g17,
body .guid > .g17 + .g17,
body .guid > .g18 + .g17,
body .guid > .g19 + .g17,
body .guid > .g20 + .g17,
body .guid > .g21 + .g17,
body .guid > .g22 + .g17,
body .guid > .g23 + .g17,
body .guid > .g24 + .g17,
body .guid > .g1 + .g18,
body .guid > .g2 + .g18,
body .guid > .g3 + .g18,
body .guid > .g4 + .g18,
body .guid > .g5 + .g18,
body .guid > .g6 + .g18,
body .guid > .g7 + .g18,
body .guid > .g8 + .g18,
body .guid > .g9 + .g18,
body .guid > .g10 + .g18,
body .guid > .g11 + .g18,
body .guid > .g12 + .g18,
body .guid > .g13 + .g18,
body .guid > .g14 + .g18,
body .guid > .g15 + .g18,
body .guid > .g16 + .g18,
body .guid > .g17 + .g18,
body .guid > .g18 + .g18,
body .guid > .g19 + .g18,
body .guid > .g20 + .g18,
body .guid > .g21 + .g18,
body .guid > .g22 + .g18,
body .guid > .g23 + .g18,
body .guid > .g24 + .g18,
body .guid > .g1 + .g19,
body .guid > .g2 + .g19,
body .guid > .g3 + .g19,
body .guid > .g4 + .g19,
body .guid > .g5 + .g19,
body .guid > .g6 + .g19,
body .guid > .g7 + .g19,
body .guid > .g8 + .g19,
body .guid > .g9 + .g19,
body .guid > .g10 + .g19,
body .guid > .g11 + .g19,
body .guid > .g12 + .g19,
body .guid > .g13 + .g19,
body .guid > .g14 + .g19,
body .guid > .g15 + .g19,
body .guid > .g16 + .g19,
body .guid > .g17 + .g19,
body .guid > .g18 + .g19,
body .guid > .g19 + .g19,
body .guid > .g20 + .g19,
body .guid > .g21 + .g19,
body .guid > .g22 + .g19,
body .guid > .g23 + .g19,
body .guid > .g24 + .g19,
body .guid > .g1 + .g20,
body .guid > .g2 + .g20,
body .guid > .g3 + .g20,
body .guid > .g4 + .g20,
body .guid > .g5 + .g20,
body .guid > .g6 + .g20,
body .guid > .g7 + .g20,
body .guid > .g8 + .g20,
body .guid > .g9 + .g20,
body .guid > .g10 + .g20,
body .guid > .g11 + .g20,
body .guid > .g12 + .g20,
body .guid > .g13 + .g20,
body .guid > .g14 + .g20,
body .guid > .g15 + .g20,
body .guid > .g16 + .g20,
body .guid > .g17 + .g20,
body .guid > .g18 + .g20,
body .guid > .g19 + .g20,
body .guid > .g20 + .g20,
body .guid > .g21 + .g20,
body .guid > .g22 + .g20,
body .guid > .g23 + .g20,
body .guid > .g24 + .g20,
body .guid > .g1 + .g21,
body .guid > .g2 + .g21,
body .guid > .g3 + .g21,
body .guid > .g4 + .g21,
body .guid > .g5 + .g21,
body .guid > .g6 + .g21,
body .guid > .g7 + .g21,
body .guid > .g8 + .g21,
body .guid > .g9 + .g21,
body .guid > .g10 + .g21,
body .guid > .g11 + .g21,
body .guid > .g12 + .g21,
body .guid > .g13 + .g21,
body .guid > .g14 + .g21,
body .guid > .g15 + .g21,
body .guid > .g16 + .g21,
body .guid > .g17 + .g21,
body .guid > .g18 + .g21,
body .guid > .g19 + .g21,
body .guid > .g20 + .g21,
body .guid > .g21 + .g21,
body .guid > .g22 + .g21,
body .guid > .g23 + .g21,
body .guid > .g24 + .g21,
body .guid > .g1 + .g22,
body .guid > .g2 + .g22,
body .guid > .g3 + .g22,
body .guid > .g4 + .g22,
body .guid > .g5 + .g22,
body .guid > .g6 + .g22,
body .guid > .g7 + .g22,
body .guid > .g8 + .g22,
body .guid > .g9 + .g22,
body .guid > .g10 + .g22,
body .guid > .g11 + .g22,
body .guid > .g12 + .g22,
body .guid > .g13 + .g22,
body .guid > .g14 + .g22,
body .guid > .g15 + .g22,
body .guid > .g16 + .g22,
body .guid > .g17 + .g22,
body .guid > .g18 + .g22,
body .guid > .g19 + .g22,
body .guid > .g20 + .g22,
body .guid > .g21 + .g22,
body .guid > .g22 + .g22,
body .guid > .g23 + .g22,
body .guid > .g24 + .g22,
body .guid > .g1 + .g23,
body .guid > .g2 + .g23,
body .guid > .g3 + .g23,
body .guid > .g4 + .g23,
body .guid > .g5 + .g23,
body .guid > .g6 + .g23,
body .guid > .g7 + .g23,
body .guid > .g8 + .g23,
body .guid > .g9 + .g23,
body .guid > .g10 + .g23,
body .guid > .g11 + .g23,
body .guid > .g12 + .g23,
body .guid > .g13 + .g23,
body .guid > .g14 + .g23,
body .guid > .g15 + .g23,
body .guid > .g16 + .g23,
body .guid > .g17 + .g23,
body .guid > .g18 + .g23,
body .guid > .g19 + .g23,
body .guid > .g20 + .g23,
body .guid > .g21 + .g23,
body .guid > .g22 + .g23,
body .guid > .g23 + .g23,
body .guid > .g24 + .g23,
body .guid > .g1 + .g24,
body .guid > .g2 + .g24,
body .guid > .g3 + .g24,
body .guid > .g4 + .g24,
body .guid > .g5 + .g24,
body .guid > .g6 + .g24,
body .guid > .g7 + .g24,
body .guid > .g8 + .g24,
body .guid > .g9 + .g24,
body .guid > .g10 + .g24,
body .guid > .g11 + .g24,
body .guid > .g12 + .g24,
body .guid > .g13 + .g24,
body .guid > .g14 + .g24,
body .guid > .g15 + .g24,
body .guid > .g16 + .g24,
body .guid > .g17 + .g24,
body .guid > .g18 + .g24,
body .guid > .g19 + .g24,
body .guid > .g20 + .g24,
body .guid > .g21 + .g24,
body .guid > .g22 + .g24,
body .guid > .g23 + .g24,
body .guid > .g24 + .g24 {
  margin-left: 20px;
}
body .guid > .g1 {
  width: 30px;
}
body .guid > .g2 {
  width: 80px;
}
body .guid > .g3 {
  width: 130px;
}
body .guid > .g4 {
  width: 180px;
}
body .guid > .g6 {
  width: 280px;
}
body .guid > .g8 {
  width: 380px;
}
body .guid > .g10 {
  width: 480px;
}
body .guid > .g12 {
  width: 580px;
}
body .guid > .g24 {
  width: 1180px;
}
body .row {
  margin-left: -10px;
  margin-right: -10px;
}
body .row > .col1,
body .row > .col2,
body .row > .col3,
body .row > .col4,
body .row > .col5,
body .row > .col6,
body .row > .col7,
body .row > .col8,
body .row > .col9,
body .row > .col10,
body .row > .col11,
body .row > .col12,
body .row > .col13,
body .row > .col14,
body .row > .col15,
body .row > .col16,
body .row > .col17,
body .row > .col18,
body .row > .col19,
body .row > .col20,
body .row > .col21,
body .row > .col22,
body .row > .col23,
body .row > .col24 {
  float: left;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
body .row.colp0 {
  margin-left: 0px;
  margin-right: 0px;
}
body .row.colp0 > .col1,
body .row.colp0 > .col2,
body .row.colp0 > .col3,
body .row.colp0 > .col4,
body .row.colp0 > .col5,
body .row.colp0 > .col6,
body .row.colp0 > .col7,
body .row.colp0 > .col8,
body .row.colp0 > .col9,
body .row.colp0 > .col10,
body .row.colp0 > .col11,
body .row.colp0 > .col12,
body .row.colp0 > .col13,
body .row.colp0 > .col14,
body .row.colp0 > .col15,
body .row.colp0 > .col16,
body .row.colp0 > .col17,
body .row.colp0 > .col18,
body .row.colp0 > .col19,
body .row.colp0 > .col20,
body .row.colp0 > .col21,
body .row.colp0 > .col22,
body .row.colp0 > .col23,
body .row.colp0 > .col24 {
  float: left;
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 0px;
}
body .row.colp5 {
  margin-left: -5px;
  margin-right: -5px;
}
body .row.colp5 > .col1,
body .row.colp5 > .col2,
body .row.colp5 > .col3,
body .row.colp5 > .col4,
body .row.colp5 > .col5,
body .row.colp5 > .col6,
body .row.colp5 > .col7,
body .row.colp5 > .col8,
body .row.colp5 > .col9,
body .row.colp5 > .col10,
body .row.colp5 > .col11,
body .row.colp5 > .col12,
body .row.colp5 > .col13,
body .row.colp5 > .col14,
body .row.colp5 > .col15,
body .row.colp5 > .col16,
body .row.colp5 > .col17,
body .row.colp5 > .col18,
body .row.colp5 > .col19,
body .row.colp5 > .col20,
body .row.colp5 > .col21,
body .row.colp5 > .col22,
body .row.colp5 > .col23,
body .row.colp5 > .col24 {
  float: left;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
}
body .row.colp15 {
  margin-left: -15px;
  margin-right: -15px;
}
body .row.colp15 > .col1,
body .row.colp15 > .col2,
body .row.colp15 > .col3,
body .row.colp15 > .col4,
body .row.colp15 > .col5,
body .row.colp15 > .col6,
body .row.colp15 > .col7,
body .row.colp15 > .col8,
body .row.colp15 > .col9,
body .row.colp15 > .col10,
body .row.colp15 > .col11,
body .row.colp15 > .col12,
body .row.colp15 > .col13,
body .row.colp15 > .col14,
body .row.colp15 > .col15,
body .row.colp15 > .col16,
body .row.colp15 > .col17,
body .row.colp15 > .col18,
body .row.colp15 > .col19,
body .row.colp15 > .col20,
body .row.colp15 > .col21,
body .row.colp15 > .col22,
body .row.colp15 > .col23,
body .row.colp15 > .col24 {
  float: left;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}
body .row.colp20 {
  margin-left: -20px;
  margin-right: -20px;
}
body .row.colp20 > .col1,
body .row.colp20 > .col2,
body .row.colp20 > .col3,
body .row.colp20 > .col4,
body .row.colp20 > .col5,
body .row.colp20 > .col6,
body .row.colp20 > .col7,
body .row.colp20 > .col8,
body .row.colp20 > .col9,
body .row.colp20 > .col10,
body .row.colp20 > .col11,
body .row.colp20 > .col12,
body .row.colp20 > .col13,
body .row.colp20 > .col14,
body .row.colp20 > .col15,
body .row.colp20 > .col16,
body .row.colp20 > .col17,
body .row.colp20 > .col18,
body .row.colp20 > .col19,
body .row.colp20 > .col20,
body .row.colp20 > .col21,
body .row.colp20 > .col22,
body .row.colp20 > .col23,
body .row.colp20 > .col24 {
  float: left;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
body .row:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
body .row > .col12 {
  width: 100%;
}
body .row > .col11 {
  width: 91.66666667%;
}
body .row > .col10 {
  width: 83.33333333%;
}
body .row > .col9 {
  width: 75%;
}
body .row > .col8 {
  width: 66.66666667%;
}
body .row > .col7 {
  width: 58.33333333%;
}
body .row > .col6 {
  width: 50%;
}
body .row > .col5 {
  width: 41.66666667%;
}
body .row > .col4 {
  width: 33.33333333%;
}
body .row > .col3 {
  width: 25%;
}
body .row > .col2 {
  width: 16.66666667%;
}
body .row > .col1 {
  width: 8.33333333%;
}
body .row.colm24 > .col24 {
  width: 100%;
}
body .row.colm24 > .col23 {
  width: 95.83333333%;
}
body .row.colm24 > .col22 {
  width: 91.66666667%;
}
body .row.colm24 > .col21 {
  width: 87.5%;
}
body .row.colm24 > .col20 {
  width: 83.33333333%;
}
body .row.colm24 > .col19 {
  width: 79.16666666%;
}
body .row.colm24 > .col18 {
  width: 75%;
}
body .row.colm24 > .col17 {
  width: 70.83333333%;
}
body .row.colm24 > .col16 {
  width: 66.66666666%;
}
body .row.colm24 > .col15 {
  width: 62.5%;
}
body .row.colm24 > .col14 {
  width: 58.33333333%;
}
body .row.colm24 > .col13 {
  width: 54.16666666%;
}
body .row.colm24 > .col12 {
  width: 50%;
}
body .row.colm24 > .col11 {
  width: 45.83333333%;
}
body .row.colm24 > .col10 {
  width: 41.66666666%;
}
body .row.colm24 > .col9 {
  width: 37.5%;
}
body .row.colm24 > .col8 {
  width: 33.33333333%;
}
body .row.colm24 > .col7 {
  width: 29.16666665%;
}
body .row.colm24 > .col6 {
  width: 25%;
}
body .row.colm24 > .col5 {
  width: 20.83333333%;
}
body .row.colm24 > .col4 {
  width: 16.66666666%;
}
body .row.colm24 > .col3 {
  width: 12.5%;
}
body .row.colm24 > .col2 {
  width: 8.33333333%;
}
body .row.colm24 > .col1 {
  width: 4.16666666%;
}
/*# sourceMappingURL=./basic.css.map */